# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Native cpp project
desktop/CMakeLists.txt.user
desktop/CMakeCache.txt
desktop/CMakeFiles
desktop/CMakeScripts
desktop/Testing
desktop/Makefile
desktop/cmake_install.cmake
desktop/install_manifest.txt
desktop/compile_commands.json
desktop/CTestTestfile.cmake
desktop/_deps
desktop/CMakeUserPresets.json
